.clockbox{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 80vh;
    position: relative;
} 
.clock{
    height: 50vh;
    aspect-ratio: 1/1;
    background-image: url('/Clock Project/clockImgs/clock2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#hr, #sec, #min{
    position: absolute;
    left: 49.9%;
    transform-origin: bottom;
}
#hr{
    height: 12%;
    top: 37.8%;
    width: 7px;
    background-color: black;
    z-index: 2;
    opacity: 0.8;
}
#min{
    height: 16%;
    top: 33.8%;
    width: 4px;
    background-color: blue;
    z-index: 1;
    opacity: 0.8;
}
#sec{
    height: 18%;
    top: 31.9%;
    width: 2.5px;
    background-color: red;
    opacity: 0.8;
}