.clockbox{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 80vh;
    position: relative;
} 
.clock{
    height: 50vh;
    aspect-ratio: 1/1;
    background-image: url('https://amansinghbhogal.github.io/CodingFish/imgs/clock2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#hr, #sec, #min{
    position: absolute;
}
#hr{
    top: 36.9%;
    left: 49.22%;
    transform-origin: center 86%;
    z-index: 2;
}
#hr img{
    min-width: 23px;
    min-height: 25px;
    width: 1.5vw;
    height: 12vh;
}
#min{
    top: 31.8%;
    left: 49.25%;
    transform-origin: center 90%;
    z-index: 1;
}
#min img{
    min-width: 22px;
    height: 16vh;
    width: 1.1vw;
}
#sec{
    top: 30.8%;
    left: 49.25%;
    transform-origin: center 90.1%;
}
#sec img{
    min-width: 22px;
    width: 1.1vw;
    height: 17vh;
}